/* teacherDashboard.css */

.teacher-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    align-content: center;
  }
  
  .teacher-dashboard h2 {
    color: #333;
  }
  
  .teacher-dashboard label {
    font-weight: bold;
    
  }
  
  /* Style the container for select elements */
  .select-container {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    border-width: 3px;
    border-color: rgba(2, 2, 2, 0.863);
    margin: 30px 10px;
    max-width: 40%;
  }
  
  /* Style the select element */
  .teacher-dashboard select {
    padding: 8px;
    border: none;
    border-radius: 0;
    appearance:backdrop; 
    background-color: #e6b8e6dd;
    color: black;
    width: 100%; 
    text-align: center;
  }
  
  .teacher-dashboard select:focus {
    outline: none;
  }
  
  .teacher-dashboard select option {
    color: #333;
  }
  
  .teacher-dashboard button {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #579be4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .teacher-dashboard button:hover {
    background-color: #0056b3;
  }
  
  .teacher-dashboard h3 {
    color: #333;
  }
  
  .teacher-dashboard div > div {
    margin-top: 10px;
  }
  
  .teacher-dashboard div > div > div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
  }
  
  .teacher-dashboard div > div > div h4 {
    color: #366da9;
    margin-bottom: 5px;
  }
  
  .teacher-dashboard div > div > div p {
    color: #333;
  }
  
  .add-lecture {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #lecture {
    font-size: 25px;
    color: #000000;
    background-color: #a97da9;
    border-radius: 30px;
    width: 80%;
    margin-left: 50%;
    margin-right: 50%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .lecture-info {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-content: space-between;
    justify-content: space-evenly;
  }